@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section{
    height: 500px;
    padding-bottom: 150px;
}

.top-banner{
    background-image: url("assets/images/top-banner.png");
    background-repeat: no-repeat;
}
.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
h1{
    font-size: 50px;
    padding: 22px 0;
}
.welc{
    margin-top: 20px;
}
h1 span{
    color: orange;
}
.half-width img{
    width: 100%;
}
.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

p{
    color: dimgray;
    padding: 20px 0;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
h3{
    padding-top: 12px;
}