@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section{
    height: 500px;
    padding-bottom: 150px;
}

.top-banner{
    background-image: url("assets/images/top-banner.png");
    background-repeat: no-repeat;
}
.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
h1{
    font-size: 50px;
    padding: 22px 0;
}
.welc{
    margin-top: 20px;
}
h1 span{
    color: orange;
}
.half-width img{
    width: 100%;
}
.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

p{
    color: dimgray;
    padding: 20px 0;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
h3{
    padding-top: 12px;
}
.experience-area{
    background: url(./assets/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-area div{
    box-shadow: 5px 7px 40px gray;
    height: 80%;
}

#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
.experience-area h2{
    font-size: 40px;
    padding-top: 32px;
}
.experience-area h3{
    font-size: 20px;
    padding-top: 12px;
    color: orange;
}
footer p{
    text-align: center;
}